.home {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .content {
    flex: 1 1 40rem;
  }
  h3 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--black);
  }
  .heading {
    font-weight: 600;
    font-size: 3rem;
    text-align: left;
    color: var(--black);

    .name {
      color: var(--green);
    }
  }
  p {
    font-size: 1.45rem;
    margin-bottom: 1.2rem;
    color: var(--black);
    padding: 0.5rem 0;
  }
  .btn {
    padding: 0.7rem 3rem;
    text-decoration: none;

    transition: 0.2s;
    background-color: var(--bg-color);
    color: var(--black);
    cursor: pointer;

    border: var(--border);
    font-size: 2rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);

    &:hover {
      box-shadow: var(--box-shadow-inset);
    }
  }
  .imgAndIcon {
    flex: 1 1 40rem;

    .img {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;

      margin: 3rem auto;
      overflow: hidden;

      box-shadow: var(--box-shadow);

      img {
        width: 100%;
      }
    }
    .someLinks {
      width: 26rem;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      align-items: center;

      box-shadow: var(--box-shadow);
      height: 5rem;
      a{
        text-decoration: none;
        & > * {
          color: var(--green);
          margin: 0px 2rem;
          padding: 0.4rem;
          transform: scale(1.5);
          border: var(--border);
          box-shadow: var(--box-shadow);
          border-radius: 50%;
  
          &:hover {
            box-shadow: var(--box-shadow-inset);
            color: blue;
          }
        }
      }

      
    }
  }
}
