.portfolio {
  width: 93%;
  margin: 0rem auto;
}
.portfolio .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
h1 {
  font-size: 2rem;
  margin: 2rem auto;
  width: 20rem;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  color: var(--black);
}
h1 span {
  color: var(--green);
}
.boxs {
  overflow: hidden;
  margin: 1.5rem;
  max-width: 43rem;

  color: var(--black);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 0.7rem;
}
.boxs .imgHolder {
  width: 100%;
  height: 12rem;
  overflow: scroll;
}

.boxs .imgHolder img {
  width: 100%;
}
// .boxs:hover .imgHolder img{
//   top: -100%;

// }
.boxs .contentHolder {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}
.contentHolder .name {
  font-size: 1.8rem;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
  font-weight: 600;
}
.contentHolder .type {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0rem;
}
.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}
.links a > *:first-child {
  transform: scale(1.5);
  padding-bottom: 0.1rem;
  color: var(--green);
}
.links a > *:last-child {
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .boxs .imgHolder {
    height: 16.5rem;
  }
}
@media (max-width: 330px) {
  .boxs .imgHolder {
    height: 18rem;
  }
}
